<h1>New Micropost</h1>

<%= render 'form', micropost: @micropost %>

<p>Please give your same user id as when you signed up</p>
<%= link_to 'Click here if you forgot your id', users_path %>

<%= link_to 'Back', microposts_path %>
